<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/s.css">
    <title>View without one entity</title>
</head>
<body>

      <h2><a href = "\">Go back to start page</a></h2>

      Full data without deleted entities:
      <table>
            {% for i in j %}
            <tr>
                <td>USER NUMBER {{j[i]+1}}</td>
                <td>{{res[i]}}</td>
                <td> </td>
            </tr>
            {% endfor %}
        </table><br>
      {{r4}}
      <br>
      <br>
      {{r1}}
      <br>
      {{r2}}
      <br>
      {{r3}}
      <br>
</body>
</html>