<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/s.css">
    <title>Choose one of entity</title>
</head>
   <body>

      <h2><a href = "\">Go back to start page</a></h2>
      Result of last one user :
      <br>
      {{r1}}
      <br>
      {{r2}}
      <br>
      {{r3}}
      <br>
      <br>
      <br>
      Result of each users :
      <table>
            {% for i in j %}
            <tr>
                <td>USER NUMBER {{j[i]+1}}</td>
                <td>{{res[i]}}</td>
                <td> </td>
            </tr>
            {% endfor %}
        </table>


   </body>
</html>