<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>View all</title>
</head>
    <body>
    <h2><a href = "\">Go back to start page</a></h2>
        <table>
            {% for item in items %}
            {% for j in i %}
            <tr>
                <td>USER NUMBER {{i[j]+1}}</td>
                <td>{{items[j]}}</td>
                <td> </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </body>
</html>
